*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(135deg, #8BC6EC 0%,  #9599E2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 360px;
    height:600px;
    background-color: white;
    border-radius: 20px;
}
.card img{
    width: 290px;
    height: 270px;
    margin: 30px 30px 30px ;
    border-radius: 10px;
}
 .card h1  {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:45px;
    text-shadow: blueviolet;
}
.card h3{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 0.8px; 
}
.card_detaile{
    display: flex;
    align-items:center;
    margin-left: 30px;
    color:black;
    font-size: 20px;
    margin-bottom: 100px;
    margin-top: 35px;
    
}
